.row-ed{
    width: 150px;
    //height: 50px;
}

.label{
    float: left;
    font-weight: bold;
    font-size: 30px;
    color: #3a393c;
    margin-left: 10px;
}

.hori{
    margin-left: 20px;
    width:100%;
    border-top: 6px solid rgb(114, 110, 110);
    padding-top: 10px;
}