.smart-cart{
    img{
        height: 20px;
    width: 40px;
    //padding-bottom: 5px;
    }
    span{

        text-align: center;
        color: white;
        //font-size: 25px;
    }
    
}

.mb-3{
    height: 20px;
    //position: relative;
    width: 1000px;
    margin-left: 100px;
}

.camera{
    height: 38px;
    width: 50px;
    background-color: white;
    padding-right: 5px;
    padding-left: 5px;


}
.search{
    height: 38px;
    width: 40px;
    background-color: #f8ba5a;
    padding: 5px 10px 5px 10px;

}

.bangladesh{
    height: 50px;
    width: 50px;
    background-color: transparent;
    margin-top: -13px;
    margin-left: 15px;

}

.signin{
    height: 50px;
    width: 50px;
    background-color: transparent;
    margin-top: -13px;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
    
    
}